@model IEnumerable<Gravity.Models.Package>



<div class="container-fluid">
    <div class="page-header">








        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="ik ik-credit-card bg-dark"></i>
                    <div class="d-inline">
                        <h5> Buy Coin </h5>
                        <span>Buy Gravity Cash (ICO) </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <nav class="breadcrumb-container" aria-label="breadcrumb">
                    <ol class="breadcrumb">

                        <li class="breadcrumb-item">

                        </li>

                    </ol>
                </nav>
            </div>
        </div>

    </div>


    <!--Account Balance --><div class="row clearfix">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a href="#" onclick="func(@item.Id)">
                <div class="widget bg-dark">


                    <div class="widget-body">



                        <div class="d-flex justify-content-between align-items-center">

                            <div class="state">
                                <h6>@item.ExtraCoinPercentage % Extra Coin</h6>
                                <h2>@item.PriceInUSD USD</h2>
                            </div>

                            <div class="icon">
                                <img src="~/demo/img/logo/gch-white-logo.png" style="max-width: 50px;">
                            </div>

                        </div>
                    </div>
                </div>
            </a>
        </div>
    }



    <div class="col-lg-4 col-md-6 col-sm-12">
        <a href="#">
            <div class="widget bg-default">


                <div class="widget-body">



                    <div class="d-flex justify-content-between align-items-center">

                        <div class="state">

                            <h2 style="color: black;">Custom</h2>
                        </div>

                        <div class="icon">
                            <img src="~/demo/img/logo/gch-black-logo.png" style="max-width: 50px;">
                        </div>

                    </div>
                </div>
            </div>

        </a>
    </div>



    

</div>

    <!--Account Balance End -->

</div>

<div class="form-group">
    <label for="code"><b>(Selection) Payment method</b> </label>
    <select name="code" required id="code" class="form-control">
        <option value="LTCT"> Litecoin Testnet</option>
        <option value="BTC">Bitcoin</option>
        <option value="ETH"> Ethereum</option>

    </select>
</div>

<script>
    function func(id){
        window.location.href = '/Payment/BuyPackage?pkgId=' + id + '&code=' + $('#code').val();
    }
</script>