@model ICollection<Wallet>
<!-- BREADCRUMB-->
<section class="au-breadcrumb m-t-75">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            @*<a href="send.php" class="au-btn au-btn-icon au-btn--green">
                                    <i class="zmdi zmdi-plus"></i>Send GVCH
                                </a>*@

                        </div>
                        <a href="/Wallet/Create?userId=@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value" class="au-btn au-btn-icon au-btn--blue">
                            <i class="zmdi zmdi-plus"></i>Create New Address
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END BREADCRUMB-->


<section>
    <div class="section__content section__content--p30">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9">
                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th>Action</th>

                                    <th>Total</th>
                                    <th class="text-left">GVCH Address </th>
                                    <th>Link</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a href="/Login/Send?addrHolder=@item.PublicKey" class="au-btn au-btn-icon au-btn--green">
                                                <i class="zmdi zmdi-minus"></i>Send GVCH
                                            </a>
                                            <a href="/Payment/Buy?addrHolder=@item.PublicKey" class="au-btn au-btn-icon au-btn--green">
                                                <i class="zmdi zmdi-plus"></i>Buy GVCH
                                            </a>
                                        </td>

                                        <td class="totalCoin">@item.PublicKey</td>
                                        <td>@item.PublicKey</td>
                                        <td><a href="https://rinkeby.etherscan.io/token/@Admin.ContractAddress?a=@item.PublicKey">BlockChain</a></td>
                                        <td>@item.CreationDate</td>
                                    </tr>
                                }

                                @*<tr>
                                        <td>
                                            <a href="/Login/Send" class="au-btn au-btn-icon au-btn--green">
                                                <i class="zmdi zmdi-minus"></i>Send GVCH
                                            </a>
                                            <a href="/Payment/Buy" class="au-btn au-btn-icon au-btn--green">
                                                <i class="zmdi zmdi-plus"></i>Buy GVCH
                                            </a>
                                        </td>

                                        <td id="tkn"></td>
                                        <td id="addr"></td>
                                        <td>2018-09-29 05:57</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>

                                        <td></td>
                                        <td>0xde0b295669a9fd93d5f28d9ec85e40f4cb697bae</td>
                                        <td>2018-09-29 05:57</td>
                                    </tr>*@





                            </tbody>
                        </table>
                    </div>
                </div>

            </div>



        </div>
    </div>
</section>

<script type="text/javascript">
    

    async function getBalance(addr) {
        addr = '0x45BD27bB68B07FE9541B26955d880b70df34B960';
        
        return r;
    }

    $(function () {
        $('.totalCoin').each(async function (i, obj) {
            //test
            var $this = $(this);
            var addr = $this.html();
            var val = await contract.balanceOf(addr);
            //alert(val)
            //var r = val.toHexString();
            val = parseInt(val.toString()) / 10 ** 18;
            $this.html(val);
        });
    })
    
    


    
            @*console.log(str);
            var jso = JSON.parse(str);
    let privateKey = "@Admin.PrivateKey";
             function bb() {
                let provider = ethers.getDefaultProvider("rinkeby");

                let walletWithProvider = new ethers.Wallet(privateKey, provider);
                console.log(walletWithProvider);

                let contract = new ethers.Contract(ContractAddress, abi, provider);
                let contractWithSigner = contract.connect(walletWithProvider);
                console.log(contractWithSigner);
                var tc = null;
                var txd = contractWithSigner.transferArray(jso.signs, jso._toes, jso._values, jso._fees, jso._nonces).then((txd) => {
                    tc = txd;
                    console.log(txd);
                    //alert(txd);
                });

                return tc;
            }*@

    
        

</script>

@*<script>


    var contractAddress="0xd8b8728bd30c5ecf8a4688bdbfdf416be702bfc8"
    var contractAbi= [{"constant":false,"inputs":[{"name":"newSellPrice","type":"uint256"},{"name":"newBuyPrice","type":"uint256"}],"name":"setPrices","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"name","outputs":[{"name":"","type":"string"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_spender","type":"address"},{"name":"_value","type":"uint256"}],"name":"approve","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"totalSupply","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_from","type":"address"},{"name":"_to","type":"address"},{"name":"_value","type":"uint256"}],"name":"transferFrom","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"decimals","outputs":[{"name":"","type":"uint8"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_value","type":"uint256"}],"name":"burn","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"sellPrice","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"name":"","type":"address"}],"name":"balanceOf","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"target","type":"address"},{"name":"mintedAmount","type":"uint256"}],"name":"mintToken","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"_from","type":"address"},{"name":"_value","type":"uint256"}],"name":"burnFrom","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"buyPrice","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"owner","outputs":[{"name":"","type":"address"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"symbol","outputs":[{"name":"","type":"string"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[],"name":"buy","outputs":[],"payable":true,"stateMutability":"payable","type":"function"},{"constant":false,"inputs":[{"name":"_to","type":"address"},{"name":"_value","type":"uint256"}],"name":"transfer","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[{"name":"","type":"address"}],"name":"frozenAccount","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_spender","type":"address"},{"name":"_value","type":"uint256"},{"name":"_extraData","type":"bytes"}],"name":"approveAndCall","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[{"name":"","type":"address"},{"name":"","type":"address"}],"name":"allowance","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"amount","type":"uint256"}],"name":"sell","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"target","type":"address"},{"name":"freeze","type":"bool"}],"name":"freezeAccount","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"newOwner","type":"address"}],"name":"transferOwnership","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"inputs":[{"name":"initialSupply","type":"uint256"},{"name":"tokenName","type":"string"},{"name":"tokenSymbol","type":"string"}],"payable":false,"stateMutability":"nonpayable","type":"constructor"},{"anonymous":false,"inputs":[{"indexed":false,"name":"target","type":"address"},{"indexed":false,"name":"frozen","type":"bool"}],"name":"FrozenFunds","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"name":"from","type":"address"},{"indexed":true,"name":"to","type":"address"},{"indexed":false,"name":"value","type":"uint256"}],"name":"Transfer","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"name":"_owner","type":"address"},{"indexed":true,"name":"_spender","type":"address"},{"indexed":false,"name":"_value","type":"uint256"}],"name":"Approval","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"name":"from","type":"address"},{"indexed":false,"name":"value","type":"uint256"}],"name":"Burn","type":"event"}];

    var CONTRACT = web3.eth.contract(contractAbi).at(contractAddress, (err, ctr) => {
      return ctr;
    });

    console.log(CONTRACT);

    var $addr=$('#addr');
    var $blnc=$('#blnc');
    var $tkn=$('#tkn');

    $addr.html('0x00');
    $blnc.html('0');
    $tkn.html('0');

    var coinbase = CONTRACT._eth.coinbase;

    $addr.html(coinbase);

    getEtherBalance();
    getTokenBalance();



    function getEtherBalance () {
          CONTRACT._eth.getBalance(coinbase, (err, bal) => {
            if (!err) {
              var balance = web3.fromWei(bal, 'ether').toNumber();
              $blnc.html(balance);
            }
            console.log(err)
          })
        }

    function getTokenBalance () {
          CONTRACT.balanceOf(coinbase, (err, tkns) => {
            if (!err) {
              var tokens = web3.fromWei(tkns, 'ether').toNumber();
              $tkn.html(tokens);
            }
            console.log(err)
          })
        }


    </script>*@