
<div class="container-fluid">
    <div class="page-header">








        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="ik ik-credit-card bg-dark"></i>
                    <div class="d-inline">
                        <h5> Buy Coin </h5>
                        <span>Buy Gravity Cash (ICO) </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <nav class="breadcrumb-container" aria-label="breadcrumb">
                    <ol class="breadcrumb">

                        <li class="breadcrumb-item">

                        </li>

                    </ol>
                </nav>
            </div>
        </div>




    </div>


    <!--Account Balance --><div class="row clearfix">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a href="#">
                <div class="widget bg-dark">


                    <div class="widget-body">



                        <div class="d-flex justify-content-between align-items-center">

                            <div class="state">
                                <h6></h6>
                                <h2>Custom USD</h2>
                                <span style="color: greenyellow;">GVCH @@ @Admin.CoinPriceUSD USD</span>
                            </div>

                            <div class="icon">
                                <img src="~/demo/img/logo/gch-white-logo.png" style="max-width: 50px;">
                            </div>

                        </div>
                    </div>
                </div>
            </a>
        </div>











    </div>

    <!--Account Balance End -->



    <div class="row">
        <div class="col-md-6">
            <div class="card" style="min-height: 484px;">
                <div class="card-header"><h3>Buy (GVCH)</h3></div>

                <div class="card-body">
                    <div style="color:red" id="msgErr">@TempData["msg"]</div>
                    <form class="forms-sample">

                        <div class="form-group">
                            <label for="amnt">USD Amount </label>
                            <input required type="number" max="1000000" class="form-control" id="amnt" name="amnt" placeholder="USD Amount ">
                        </div>

                        <div class="form-group">
                            <label for="exampleSelectGender">Payment Type</label>
                            <select class="form-control" id="code" name="code">
                                <option value="BTC">Bitcoin</option>
                                <option value="ETH">Ethereum</option>
                                @*<option value="LTCT"> LiteCoin TestNet</option>*@
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputConfirmPassword1">Total Graviy Coin (GVCH)  </label>
                            <input type="text" class="form-control" id="coin" placeholder="Total GVCH" readonly="readonly">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Bonus (GVCH)</label>
                            <input type="text" class="form-control" id="bonus" placeholder="0" readonly="readonly">
                        </div>

                        <button type="button" onclick="func()" class="btn btn-primary mr-2">Buy</button>

                    </form>
                </div>

            </div>
        </div>
    </div>







</div>
<script>
    var $err = $('#msgErr');
    var val = 0;
    balancePromise=contract.balanceOf('@Admin.PublicKey');
    balancePromise.then((blnc) => {
        val = parseInt(blnc.toString()) / 10 ** 18;
});
    //val = parseInt(val.toString()) / 10 ** 18;

    function func() {
        var amnt = $('#amnt').val();
        if (amnt > val || amnt > 1000000) {
            $err.html(' Please Validate.')
        } else {
            window.location.href = '/Payment/BuyCustom?amnt=' + $('#amnt').val() + '&code=' + $('#code').val();
        }

            }

    $(function () {


        $('#amnt').keyup(function () {

            var percentage = 0;
            var amnt = $('#amnt').val();
			if (amnt > 2000)
			{
				percentage = 22;//22%
			}

			var amount = amnt;
			var coin = (1 / @Admin.CoinPriceUSD) * amount;
            var bonus = (coin * percentage) / 100;
            $('#coin').val(coin);
            $('#bonus').val(bonus);

            if (amnt > val) {
                $err.html(val + ' GVCH Coin Exists For ICO Sale.')
            } else if(amnt > 1000000) {
                $err.html("Can't buy more tan 1 Million");
            }else {
                $err.html('');
            }

        })


    })
</script>