<div class="">
    <div class="container-fluid">
        <div class="page-header">

            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <i class="ik ik-search bg-dark"></i>
                        <div class="d-inline">
                            <h5> GVCH Explorer </h5>
                            <span>Gravity Cash Blockchain Explorer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <nav class="breadcrumb-container" aria-label="breadcrumb">
                        <ol class="breadcrumb">

                            <li class="breadcrumb-item">

                            </li>

                        </ol>
                    </nav>
                </div>
            </div>

        </div>


        <!--Account Balance --><div class="row clearfix">



            <div class="col-sm-12">
                <div class="card">


                    <div class="card-body">
                        <form class="forms-sample" method="post" action="/Admin/Explorer" ajax-target="#partialExplorer">

                            <div class="input-group col-xs-12">
                                <input name="hash" required type="text" class="form-control" placeholder="GVCH address or txn">
                                <span class="input-group-append">
                                    <input type="submit" class="file-upload-browse btn btn-primary" value="Search">
                                </span>
                            </div>


                        </form>
                    </div>

                </div>
            </div>


        </div>

        <!--Account Balance End -->




        <div id="partialExplorer" class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-header d-block">
                        <h3>Transaction Details </h3>
                    </div>
                    <div class="card-body">
                        <div class="dt-responsive">
                            @Html.Raw(ViewBag.html)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Language - -->
    </div>
</div>
                    

<script>
    $(function () {
        $('a[href^="/block/"],a[href^="/token/"],a[href^="/address/"],a[href^="/login/"]').each(function () {
            
            $(this).attr('href', '#');
        })
        
    })
</script>

