<div class="nav-container">
    <nav id="main-menu-navigation" class="navigation-main">
        <div class="nav-lavel">Navigation Menu</div>
        <div class="nav-item">
            <a href="/Login/home"><i class="ik ik-menu"></i><span>Dashboard</span></a>
        </div>
        <div class="nav-item">
            <a href="/Admin/Explorer"><i class="ik ik-search"></i><span>GVCH Explorer</span> </a>
        </div>

        <div class="nav-item">
            <a href="/Login/ICO"><i class="ik ik-credit-card"></i><span>Buy Coin (ICO)</span> </a>
        </div>

        <div class="nav-item">
            <a href="/Login/wallet"><i class="ik ik-plus-circle"></i><span>Receive Coin</span> </a>
        </div>

        <div class="nav-item">
            <a href="/Login/Send"><i class="ik ik-minus-circle"></i><span>Send Coin</span> </a>
        </div>
        @*<div class="nav-item">
            <a href="/Login/SendByMetamask" class="stopAjax"><i class="ik ik-minus-circle"></i><span>Send Coin Using Metamask</span> </a>
        </div>*@
        <div class="nav-item">
            <a href="/Login/transactions"><i class="ik ik-file-text"></i><span>Transactions History</span> </a>
        </div>

        <div class="nav-item">
            <a href="/Login/password_change"><i class="ik ik-shield"></i><span>Account Security</span> </a>
        </div>

        @*<div class="nav-item">
            <a href="/Account/Referral" class="stopAjax"><i class="ik ik-file-text"></i><span>Referral(Get Bonus)</span> </a>
        </div>*@
        <div class="nav-item">
            <a href="/Account/Referral"><i class="ik ik-send"></i><span>Send Referral</span> </a>
        </div>
        @*<div class="nav-item">
            <a href="/Account/GetFreeCoin" class="stopAjax"><i class="ik ik-menu"></i><span>[Get Free Coins]</span> </a>
        </div>*@

        <div class="nav-item">
            <a href="/Account/Logout" class="stopAjax"><i class="ik ik-power"></i><span>Logout</span> </a>
        </div>






























    </nav>
</div>