<h2><text id="totalBlnc">0</text> GCH</h2>

    <script>
        var json_obj= '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.publicKeys))';
        //console.log(json_obj);
        //var jso = JSON.parse(json_obj);
        var jso = JSON.parse(json_obj);//alert(jso);

        var totalCoin = 0;
    

            jso.forEach(async function (addr) {
    var val = await contract.balanceOf(addr);
            val = parseInt(val.toString()) / 10 ** 18;
                totalCoin += val;

                $('#totalBlnc').html(totalCoin);
});



    </script>
