<h2 id="totalBlnc">0 GCH</h2>

    <script>
        var json_obj= '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.publicKeys))';
        //console.log(json_obj);
        //var jso = JSON.parse(json_obj);
        var jso = JSON.parse(json_obj);//alert(jso);

        var value = 0;
    $(function () {



            jso.forEach(async function (addr) {
    var val = await contract.balanceOf(addr);
            val = parseInt(val.toString()) / 10 ** 18;
                value += val;

                $('#totalBlnc').html(value+' GCH');
});

    })

    </script>
